---
layout: default
title: People
---
<h1>Faculty</h1>
<hr />
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for person in site.people %}
        {% if person.level == "faculty" and person.role == "chair" %}
        <div class="col">
            <a href="{{ person.url }}">
                <div class="card h-100">
                    <img src="{{ person.picture }}" class="card-img-top" alt="{{ person.name }}" style="width: 100%; max-height: 200px; object-fit: cover; object-position: 0 40%;">
                    <div class="card-body">
                        <h4 class="card-title p-0 m-0">{{ person.name }}</h4>
                        <p class="card-text p-0 m-0">{{ person.academic_status }}</p>
                        {% if person.role %} <p class="card-text p-0 m-0">{{ person.role }}</p> {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        
        {% endfor %}
        {% for person in site.people %}
        {% if person.level == "faculty" and person.role != "chair"  %}
        <div class="col">
            <a href="{{ person.url }}">
                <div class="card h-100">
                    <img src="{{ person.picture }}" class="card-img-top" alt="{{ person.name }}" style="width: 100%; max-height: 200px; object-fit: cover; object-position: 0 40%;">
                    <div class="card-body">
                        <h4 class="card-title p-0 m-0">{{ person.name }}</h4>
                        <p class="card-text p-0 m-0">{{ person.academic_status }}</p>
                        {% if person.role %} <p class="card-text p-0 m-0">{{ person.role }}</p> {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        
        {% endfor %}
    </div>
</div>

<h1>PhD Students</h1>
<hr />
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for person in site.people %}
        {% if person.level == "student" %}
        <div class="col">
            <a href="{{ person.url }}">
                <div class="card h-100">
                    <img src="{{ person.picture }}" class="card-img-top" alt="{{ person.name }}" style="width: 100%; max-height: 200px; object-fit: cover; object-position: 0 40%;">
                    <div class="card-body">
                        <h4 class="card-title p-0 m-0">{{ person.name }}</h4>
                        <p class="card-text p-0 m-0">{{ person.academic_status }}</p>
                        <p class="card-text p-0 m-0">{{ person.role }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        
        {% endfor %}
    </div>
</div>

<h1>Affiliated Members</h1>
<hr />
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for person in site.people %}
        {% if person.level == "affiliated" %}
        <div class="col">
            <a href="{{ person.url }}">
                <div class="card h-100">
                    <img src="{{ person.picture }}" class="card-img-top" alt="{{ person.name }}" style="width: 100%; max-height: 200px; object-fit: cover; object-position: 0 40%;">
                    <div class="card-body">
                        <h4 class="card-title p-0 m-0">{{ person.name }}</h4>
                        <p class="card-text p-0 m-0">{{ person.academic_status }}</p>
                        <p class="card-text p-0 m-0">{{ person.role }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        
        {% endfor %}
    </div>
</div>

<h1>Alumni</h1>
<hr />
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for person in site.people %}
        {% if person.level == "alumni" %}
        <div class="col">
            <a href="{{ person.url }}">
                <div class="card h-100">
                    <img src="{{ person.picture }}" class="card-img-top" alt="{{ person.name }}" style="width: 100%; max-height: 200px; object-fit: cover; object-position: 0 40%;">
                    <div class="card-body">
                        <h4 class="card-title p-0 m-0">{{ person.name }}</h4>
                        <p class="card-text p-0 m-0">{{ person.academic_status }}</p>
                        <p class="card-text p-0 m-0">{{ person.role }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        
        {% endfor %}
    </div>
</div>
