---
layout: default
title: Projects
---

{% assign all_types = "" %}
{% for project in site.data.projects %}
    {% for type in project.type %}
        {% assign all_types = all_types | append: type | append: ", " %}
    {% endfor %}
{% endfor %}
{% assign all_types = all_types | split: ", " | uniq | sort %}

{% assign supervisors = "" %}
{% for project in site.data.projects %}
    {% for supervisor in project.supervisors %}
        {% assign supervisors = supervisors | append: supervisor | append: "," %}
    {% endfor %}
{% endfor %}
{% assign supervisors = supervisors | split: "," %}

<div class="d-flex flex-row gap-3 mb-3">
    <div class="dropdown overflow-visible">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select type
        </button>
        <ul class="dropdown-menu overflow-visible">
            {% assign types = site.projects %}
            <li><a href="/projects" class="dropdown-item">All</a></li>
            {% for type in all_types %}
            <li><a href="/projects/types/{{ type }}" class="dropdown-item">{{ type | capitalize }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="dropdown overflow-visible">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select supervisor
        </button>
        <ul class="dropdown-menu overflow-visible">
            <li><a href="/projects" class="dropdown-item">All</a></li>
            {% for supervisor in supervisors %}
            <li><a href="/projects/supervisors/{{ supervisor | downcase | replace: ' ', '_' }}" class="dropdown-item">{{ supervisor | capitalize }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


{% for project in site.data.projects %}
    <h2>{{ project.title }}</h2>
    <p class="pb-0 mb-1"><strong>Supervisors:</strong> 
        {% assign supervisor_links = "" %}
        {% for supervisor in project.supervisors %}
            {% assign isLast = forloop.last %}
            <a href="/people/{{ supervisor | downcase | split: ' ' | join: '_'}}">{{supervisor}}</a>{% if isLast == false %}, {% endif %}
        {% endfor %}<br>
    <strong>Date:</strong> {{ project.date }}<br>
    <strong>Type:</strong> {{ project.type | join: '/' }}<br>
    <strong>Description:</strong></p>
    <div class="card card-body p-1 mb-3">
        {{ project.description }}
    </div>
{% endfor %}

{% assign spp_projects = site.data.projects | where: "type", "spp" %}

{% for project in spp_projects %}
    <h2>{{ project.title }}</h2>
    <p class="pb-0 mb-1"><strong>Supervisors:</strong> 
        {% assign supervisor_links = "" %}
        {% for supervisor in project.supervisors %}
            {% assign isLast = forloop.last %}
            <a href="/people/{{ supervisor | downcase | split: ' ' | join: '_'}}">{{supervisor}}</a>
            {% if isLast == false %},{% endif %}
        {% endfor %}<br>
    <strong>Date:</strong> {{ project.date }}<br>
    <strong>Type:</strong> {{ project.type | join: '/' }}<br>
    <strong>Description:</strong></p>
    <div class="card card-body p-1 mb-3">
        {{ project.description }}
    </div>
{% endfor %}