<div class="sidebar bg-light shadow" >
    <img class="sidebar-img pb-3" src="/assets/images/bernoulliborg.jpg" alt="">
    <h4>Visiting address</h4>
    <p class="pb-1"> 
        DS - BI                 <br>
        University of Groningen <br>
        Nijenborgh 9            <br>
        9747 AG Groningen       <br>
        The Netherlands
    </p>

    <h4>Quick links</h4>
    <ul>
        {% for item in site.data.quick-links.quick-links %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>

    <h4>Follow us</h4>
    <p class="fw-bold">TODO</p>
</div>