body {
    font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    font-size: 26px;
    font-weight: bold;
}

body h2 {
    font-size: 22px;
    font-weight: bold;
}

body h3 {
    font-size: 20px;
    font-weight: bold;
}

body h4 {
    font-size: 18px;
    font-weight: bold;
}

body h5 {
    font-size: 16px;
    font-weight: bold;
}

.header-section {
    background-color: #FFFFFF;
}

.main-section {
}

.main-section img {
	max-width: 100%;
}

.footer-section {
	height: 300px;
    background-color: #D7D7D7;
}

.sub-header {
    height: 100px;
    background-color: #F6F6F6;
}

.sub-header > .container {
    padding-top: 25px;
}

.sub-header ul {
	width: 100%;
    list-style-type: none;
	padding: 0px;
}
.sub-header ul li {
    display: inline;
}

.bibbtn {
    float: right;
    height: 15px;
    width: 15px;
}

.bibbtn:after {
    font-family: FontAwesome;
    content: "\f065";
    font-size: 1.0rem;
}

.bibbtn.collapsed:after {
    font-family: FontAwesome;
    content: "\f066";
    font-size: 1.0rem;
}

.bibabstract {
	font-style: italic;
    font-size: 14px;
}

.bibkeywords {
	font-style: italic;
    font-size: 14px;
}

.bibtex {
    font-family: 'Courier New', monospace !important; 
    font-size: 12px;
	display:block;
    margin: 0;
    padding: 0;
    border: 0;
	width: 100%;
	height: 8.0rem;
	resize: none;
}

.biblink:before {
    font-family: FontAwesome;
    content: "\f0c1";
    font-size: 1.0rem;
	padding-right: 5px;
}

.bibcopy {
	float: right;
	position: relative;
	left: 10px;
}

.bibcopy:after {
    font-family: FontAwesome;
    content: "\f0c5";
    font-size: 1.0rem;
}

.bibcopy:active:after {
    font-size: 1.1rem;
    color: #3e8e41;
}

.bibcopy:active {
}

body a:link, a:visited {
    text-decoration: none;
    color: #CC0000;
} 

a:hover {
    text-decoration: underline;
}


/* navbar */
.navbar-ds {
    background-color: #dc002d !important;
    border-width: 0px;
    margin-bottom: 0px;
	padding: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-Serif;
    font-size: 18px;
    font-weight: bold;
}

.navbar-ds,
.navbar-ds .navbar-nav > li > a:hover,
.navbar-ds .navbar-nav > li > a:focus,
.navbar-ds .navbar-nav > .active > a,
.navbar-ds .navbar-nav > .active > a:hover,
.navbar-ds .navbar-nav > .active > a:focus {
	box-shadow: inset 0 7px 6px -7px rgba(0,0,0,.25);
    background-position: center top;
    background-repeat: repeat-x;
}

.nav-container {
    width: 100%;
    background-color: #CC0000 !important;
    color: #FFFFFF !important;
}
/* title */
.navbar-ds .navbar-brand {
    color: #FFFFFF !important;
}
.navbar-ds .navbar-brand:hover,
.navbar-ds .navbar-brand:focus {
    color: #FFFFFF !important;
}
/* link */
.navbar-ds .navbar-nav > li > a {
    color: #FFFFFF !important;
}
.navbar-ds .navbar-nav > li > a:hover,
.navbar-ds .navbar-nav > li > a:focus {
    color: #CC0000 !important;
    background-color: #FFFFFF !important;
}
.navbar-ds .navbar-nav > .active > a,
.navbar-ds .navbar-nav > .active > a:hover,
.navbar-ds .navbar-nav > .active > a:focus {
    color: #CC0000 !important;
    background-color: #FFFFFF !important;
}
.navbar-ds .navbar-nav > .open > a,
.navbar-ds .navbar-nav > .open > a:hover,
.navbar-ds .navbar-nav > .open > a:focus {
    color: #CC0000 !important;
    background-color: #FFFFFF !important;
}
/* caret */
.navbar-ds .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-ds .navbar-nav > .dropdown > a:hover .caret,
.navbar-ds .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-ds .navbar-nav > .open > a .caret,
.navbar-ds .navbar-nav > .open > a:hover .caret,
.navbar-ds .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.nav-filler-collapse {
    height: 0px;
    background: #fff;
}
.navbar-toggler {
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}
.nav-link {
    padding: 20px 25px 20px 25px !important;
}

.sidebar {
    padding: 20px;
    position: relative;
    top: -30px;
}

.rug-logo {
    height: 63px !important;
    background-color: red;
}

.sidebar-img {
    width: 100%;
}

.sidebar > p {
    font-size: 14px;
    font-weight: 500;
}

#page-header {
    width: 100%;
    padding: 20px 20px 20px 20px;
    position: relative;
    top: -30px;
}

.site-nav {
    height: 60px;
}