body {
    font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    font-size: 26px;
    font-weight: bold;
}

body h2 {
    font-size: 22px;
    font-weight: bold;
}

body h3 {
    font-size: 20px;
    font-weight: bold;
}

body h4 {
    font-size: 18px;
    font-weight: bold;
}

body h5 {
    font-size: 16px;
    font-weight: bold;
}

.header-section {
    background-color: #FFFFFF;
}

.main-section {
}

.main-section img {
	max-width: 100%;
}

.footer-section {
	height: 300px;
    background-color: #D7D7D7;
}

.sub-header {
    height: 100px;
    background-color: #F6F6F6;
}

.sub-header > .container {
    padding-top: 25px;
}

.sub-header ul {
	width: 100%;
    list-style-type: none;
	padding: 0px;
}
.sub-header ul li {
    display: inline;
}

.bibbtn {
    float: right;
    height: 15px;
    width: 15px;
}

.bibbtn:after {
    font-family: FontAwesome;
    content: "\f065";
    font-size: 1.0rem;
}

.bibbtn.collapsed:after {
    font-family: FontAwesome;
    content: "\f066";
    font-size: 1.0rem;
}

.bibabstract {
	font-style: italic;
    font-size: 14px;
}

.bibkeywords {
	font-style: italic;
    font-size: 14px;
}

.bibtex {
    font-family: 'Courier New', monospace !important; 
    font-size: 12px;
	display:block;
    margin: 0;
    padding: 0;
    border: 0;
	width: 100%;
	height: 8.0rem;
	resize: none;
}

.biblink:before {
    font-family: FontAwesome;
    content: "\f0c1";
    font-size: 1.0rem;
	padding-right: 5px;
}

.bibcopy {
	float: right;
	position: relative;
	left: 10px;
}

.bibcopy:after {
    font-family: FontAwesome;
    content: "\f0c5";
    font-size: 1.0rem;
}

.bibcopy:active:after {
    font-size: 1.1rem;
    color: #3e8e41;
}

.bibcopy:active {
}

#vis {
    width: 100%;
    height: 123px;
    padding: 40px 40px 20px 40px;
    align: left;
}

#logo {
    height: 63px;
    width: 100%;
    background: transparent url("../img/rugr_logoen_rood_rgb.png") no-repeat;
	background-size: contain;
	overflow: visible;
}

#title {
    width: 100%;
    padding: 0px 40px 20px 0px;
    text-align: right;
    font-size: 20px;
    color: #CC0000;
    font-family: Arial, Helvetica, sans-Serif;
    font-weight: bold;
}

#sidebar {
	position: relative;
	top: -25px;
	background-color: #F6F6F6;
	border: 2px solid;
	border-color: #F2F2F2;
	padding: 40px 25px 40px 25px;
	box-shadow: 2px 2px 2px #F6F6F6;
	font-size: 0.8rem;
}

#sidebar img {
	margin-bottom: 10px;
}

#content {
    padding: 20px 40px 20px 40px;
}

#content h1:first-of-type {
	position: relative;
	top: -45px;
	background-color: #FFFFFF;
	border: 2px solid;
	border-color: #F2F2F2;
	padding: 20px 20px 25px 20px;
	box-shadow: 2px 2px 2px #F6F6F6;
	margin-top: 0px;
}

#content table.quickref{
  width: 45em;
}

#content table {
    border: 0;
}

#content table tr, #content table td {
    padding:0; margin:0;
}

#content table td {
    padding-right:  6px;  
    padding-bottom: 12px;  
}

#content table[border='1'] {
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
}

#content table td {
    padding-top:  2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

#content table.publicationslist td {
    padding-top: 0px;          
    padding-left: 0px;       
    padding-right: 0px;
    padding-bottom: 10px;
}

#content table.nospaces td {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#content .rfloat {
	float: right;
}

#content textarea {
	width: 100%;
    font-family: monospace;
}

body a:link, a:visited {
    text-decoration: none;
    color: #CC0000;
} 

a:hover {
    text-decoration: underline;
}


/* navbar */
.navbar-ds {
    background-color: #dc002d !important;
    border-width: 0px;
    margin-bottom: 0px;
	padding: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-Serif;
    font-size: 18px;
    font-weight: bold;
}

.navbar-ds,
.navbar-ds .navbar-nav > li > a:hover,
.navbar-ds .navbar-nav > li > a:focus,
.navbar-ds .navbar-nav > .active > a,
.navbar-ds .navbar-nav > .active > a:hover,
.navbar-ds .navbar-nav > .active > a:focus {
	box-shadow: inset 0 7px 6px -7px rgba(0,0,0,.25);
    background-position: center top;
    background-repeat: repeat-x;
}

.nav-container {
    width: 100%;
    background-color: #CC0000 !important;
    color: #FFFFFF !important;
}
/* title */
.navbar-ds .navbar-brand {
    color: #FFFFFF !important;
}
.navbar-ds .navbar-brand:hover,
.navbar-ds .navbar-brand:focus {
    color: #FFFFFF !important;
}
/* link */
.navbar-ds .navbar-nav > li > a {
    color: #FFFFFF !important;
}
.navbar-ds .navbar-nav > li > a:hover,
.navbar-ds .navbar-nav > li > a:focus {
    color: #CC0000 !important;
    background-color: #FFFFFF !important;
}
.navbar-ds .navbar-nav > .active > a,
.navbar-ds .navbar-nav > .active > a:hover,
.navbar-ds .navbar-nav > .active > a:focus {
    color: #CC0000 !important;
    background-color: #FFFFFF !important;
}
.navbar-ds .navbar-nav > .open > a,
.navbar-ds .navbar-nav > .open > a:hover,
.navbar-ds .navbar-nav > .open > a:focus {
    color: #CC0000 !important;
    background-color: #FFFFFF !important;
}
/* caret */
.navbar-ds .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-ds .navbar-nav > .dropdown > a:hover .caret,
.navbar-ds .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-ds .navbar-nav > .open > a .caret,
.navbar-ds .navbar-nav > .open > a:hover .caret,
.navbar-ds .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.nav-filler-collapse {
    height: 0px;
    background: #fff;
}
.navbar-toggler {
	border-color: #FFFFFF !important;
	color: #FFFFFF !important;
}
.nav-link {
    padding: 20px 25px 20px 25px !important;
}

.sidebar {
    padding: 20px;
}

.rug-logo {
    height: 63px !important;
    background-color: red;
}

.sidebar-img {
    width: 100%;
}

.sidebar > p {
    font-size: 14px;
    font-weight: 500;
}